:host {
	display: inline-grid;
	position: relative;
	z-index: 998;
}

.container {
	display: inline-grid;
	position: relative;

	&:focus {
		outline: none;
	}
}

.Light {
	.trigger {
		> .label {
			.text {
				color: var(--cm-color-ui-light6);
			}
			&:hover,
			&:focus-visible {
				background-color: rgba(var(--cm-color-ui-light5-rgb), 0.5);
			}
		}
	}

	.flyout {
		box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.2);
		background: #fcfcfc;

		.optionGroup {
			&:not(:first-child) {
				border-top: solid 1px var(--cm-color-ui-light5);
			}

			.title {
				color: var(--cm-color-ui-light6);
			}

			.option {
				color: var(--cm-color-ui-dark4);

				&:hover {
					background: #f0f0f0;
				}

				&.isDangerous {
					color: #e30100;
				}
			}
		}
	}
}

.Dark {
	.trigger {
		> .label {
			.text {
				color: var(--cm-color-white-base);
			}
			&:hover,
			&:focus-visible {
				background-color: var(--cm-color-ui-dark4);
			}
		}
	}

	.flyout {
		box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.5);
		background: var(--cm-color-button-dark6);

		.optionGroup {
			&:not(:first-child) {
				border-top: solid 1px var(--cm-color-ui-light5);
			}

			.title {
				color: var(--cm-color-white-base);
			}
			.option {
				color: var(--cm-color-white-base);
				&:hover {
					background: var(--cm-color-item-even-dark);
				}

				&.isDangerous {
					color: #e30100;
				}
			}
		}
	}
}

.trigger {
	display: grid;
	align-content: center;

	> .defaultAction {
		display: inline-grid;
		user-select: none;

		height: 33px;

		border-radius: 3px;

		font-family: var(--cm-font-text);
		font-size: 14px;
		font-weight: 700;
		line-height: 33px;
		text-decoration: none;
		text-align: center;

		grid-auto-flow: column;
		grid-auto-columns: max-content 1px max-content;

		align-items: center;

		/********
		 * Main *
		 ********/

		&.main {
			background-color: var(--cm-color-ui-light5);
			border: solid 1px var(--cm-color-ui-light3);
			color: var(--cm-color-ui-dark4);
		}

		/***********
		 * Primary *
		 ***********/

		&.primary {
			background-color: var(--cm-color-blue-base);
			border: solid 1px var(--cm-color-button-blue3);
			color: var(--cm-color-ui-light4);
		}

		/*************
		 * Secondary *
		 *************/

		&.secondary {
			background-color: var(--cm-color-button-light4);
			border: solid 1px var(--cm-color-ui-light3);
			color: var(--cm-color-ui-dark4);
		}

		.separator {
			height: 25px;
			width: 1px;

			&.main {
				background-color: var(--cm-color-ui-dark4);
			}

			&.primary {
				background-color: var(--cm-color-ui-light4);
			}

			&.secondary {
				background-color: var(--cm-color-ui-dark4);
			}
		}

		.button {
			transition: all 0.2s linear;
			border-radius: 3px;

			cursor: pointer;
			padding: 0 20px 0 20px;
			position: relative;

			/********
			 * Main *
			********/

			&.main:hover {
				background-color: var(--cm-color-button-light1);
			}

			&.main:focus {
				outline: none;
			}

			&.main:focus-visible {
				box-shadow: 0px 0px 0px 1px var(--cm-color-focus-inner-neutral2),
					0px 0px 0px 4px var(--cm-color-focus-outer-neutral);
			}

			&.main:active {
				background-color: var(--cm-color-ui-light3);
			}

			/***********
			 * Primary *
			***********/

			&.primary:hover {
				background-color: var(--cm-color-button-blue3);
			}

			&.primary:focus {
				outline: none;
			}

			&.primary:focus-visible {
				box-shadow: 0px 0px 0px 1px var(--cm-color-focus-inner-neutral),
					0px 0px 0px 4px var(--cm-color-focus-outer-neutral);
			}

			&.primary:active {
				background-color: var(--cm-color-button-blue4);
			}

			/*************
			 * Secondary *
			*************/

			&.secondary:hover {
				background-color: var(--cm-color-button-light5);
			}

			&.secondary:focus {
				outline: none;
			}

			&.secondary:focus-visible {
				box-shadow: 0px 0px 0px 1px var(--cm-color-focus-inner-neutral2),
					0px 0px 0px 4px var(--cm-color-focus-outer-neutral);
			}

			&.secondary:active {
				background-color: var(--cm-color-button-light6);
			}
		}

		.iconButton {
			transition: all 0.2s linear;
			border-radius: 3px;

			cursor: pointer;
			display: grid;
			height: 100%;
			width: 30px;
			justify-content: center;
			align-items: center;

			/********
			 * Main *
			********/

			&.main:hover {
				background-color: var(--cm-color-button-light1);
			}

			&.main:focus {
				outline: none;
			}

			&.main:focus-visible {
				box-shadow: 0px 0px 0px 1px var(--cm-color-focus-inner-neutral2),
					0px 0px 0px 4px var(--cm-color-focus-outer-neutral);
			}

			&.main:active {
				background-color: var(--cm-color-ui-light3);
			}

			/***********
			 * Primary *
			***********/

			&.primary:hover {
				background-color: var(--cm-color-button-blue3);
			}

			&.primary:focus {
				outline: none;
			}

			&.primary:focus-visible {
				box-shadow: 0px 0px 0px 1px var(--cm-color-focus-inner-neutral),
					0px 0px 0px 4px var(--cm-color-focus-outer-neutral);
			}

			&.primary:active {
				background-color: var(--cm-color-button-blue4);
			}

			/*************
			 * Secondary *
			*************/

			&.secondary:hover {
				background-color: var(--cm-color-button-light5);
			}

			&.secondary:focus {
				outline: none;
			}

			&.secondary:focus-visible {
				box-shadow: 0px 0px 0px 1px var(--cm-color-focus-inner-neutral2),
					0px 0px 0px 4px var(--cm-color-focus-outer-neutral);
			}

			&.secondary:active {
				background-color: var(--cm-color-button-light6);
			}
		}
	}

	> .button {
		display: inline-grid;
		user-select: none;

		transition: all 0.2s linear;

		height: 33px;

		cursor: pointer;

		padding: 0 20px 0 20px;

		border-radius: 3px;

		font-family: var(--cm-font-text);
		font-size: 14px;
		font-weight: 700;
		line-height: 33px;
		text-decoration: none;
		text-align: center;

		grid-auto-flow: column;
		grid-auto-columns: max-content max-content;
		gap: 5px;

		align-items: center;

		/********
		 * Main *
		 ********/

		&.main {
			background-color: var(--cm-color-ui-light5);
			border: solid 1px var(--cm-color-ui-light3);
			color: var(--cm-color-ui-dark4);
		}

		&.main:hover {
			background-color: var(--cm-color-button-light1);
			border: solid 1px var(--cm-color-button-light2);
		}

		&.main:focus {
			outline: none;
		}

		&.main:focus-visible {
			box-shadow: 0px 0px 0px 1px var(--cm-color-focus-inner-neutral2),
				0px 0px 0px 4px var(--cm-color-focus-outer-neutral);
		}

		&.main:active {
			background-color: var(--cm-color-ui-light3);
			border: solid 1px var(--cm-color-button-light3);
		}

		/***********
		 * Primary *
		 ***********/

		&.primary {
			background-color: var(--cm-color-blue-base);
			border: solid 1px var(--cm-color-button-blue3);
			color: var(--cm-color-ui-light4);
		}

		&.primary:hover {
			background-color: var(--cm-color-button-blue3);
			border: solid 1px var(--cm-color-button-blue4);
		}

		&.primary:focus {
			outline: none;
		}

		&.primary:focus-visible {
			box-shadow: 0px 0px 0px 1px var(--cm-color-focus-inner-neutral),
				0px 0px 0px 4px var(--cm-color-focus-outer-neutral);
		}

		&.primary:active {
			background-color: var(--cm-color-button-blue4);
			border: solid 1px var(--cm-color-button-blue5);
		}

		/*************
		 * Secondary *
		 *************/

		&.secondary {
			background-color: var(--cm-color-button-light4);
			border: solid 1px var(--cm-color-ui-light3);
			color: var(--cm-color-ui-dark4);
		}

		&.secondary:hover {
			background-color: var(--cm-color-button-light5);
			border: solid 1px var(--cm-color-ui-light3);
		}

		&.secondary:focus {
			outline: none;
		}

		&.secondary:focus-visible {
			box-shadow: 0px 0px 0px 1px var(--cm-color-focus-inner-neutral2),
				0px 0px 0px 4px var(--cm-color-focus-outer-neutral);
		}

		&.secondary:active {
			background-color: var(--cm-color-button-light6);
			border: solid 1px var(--cm-color-ui-light3);
		}
	}

	> .label {
		display: grid;
		grid-auto-flow: column;
		align-items: center;
		gap: 8px;
		padding: 5px 10px;
		padding-right: 5px;
		border-radius: 5px;

		cursor: pointer;
		user-select: none;

		transition: all 0.2s linear;

		&:focus {
			outline: none;
		}

		.text {
			font-family: var(--cm-font-text);
			font-size: 15px;
			font-weight: 500;
		}

		cm-icon {
			transform: translateY(1px);
		}
	}
}

.flyout {
	display: grid;
	opacity: 0;
	pointer-events: none;

	transition: opacity 150ms linear;

	z-index: 100;

	position: fixed;

	padding: 5px;

	border-radius: 5px;
	overflow: hidden;

	min-width: max-content;

	gap: 5px;

	&.open {
		opacity: 1;
		pointer-events: initial;
	}

	.optionGroup {
		&:not(:first-child) {
			padding-top: 5px;
		}

		.title {
			font-family: var(--cm-font-text);
			font-size: 11px;
		}

		& > .title:not(:empty) {
			padding: 5px 15px 0px;
		}

		.option {
			user-select: none;
			border-radius: 3px;
			padding: 8px 15px;
			font-family: var(--cm-font-text);
			font-size: 14px;

			transition: all 150ms linear;

			&:not(.disabled) {
				cursor: pointer;
			}

			&.isDisabled {
				opacity: 0.5;
			}

			& > .title {
				padding-bottom: 2px;
			}
		}
	}
}
