:host {
	display: inline-grid;
	position: relative;
	z-index: 998;
}

.container {
	display: inline-grid;
	position: relative;

	&:focus {
		outline: none;
	}
}

.trigger {
	display: grid;
	align-content: center;

	.button {
		display: inline-grid;
		user-select: none;

		transition: all 0.2s linear;

		height: 35px;

		cursor: pointer;

		padding: 0 20px 0 20px;

		border-radius: 3px;

		font-family: var(--cm-font-text);
		font-size: 14px;
		font-weight: 700;
		line-height: 35px;
		text-decoration: none;
		text-align: center;

		grid-auto-flow: column;
		grid-auto-columns: max-content 20px;
		gap: 5px;

		align-items: center;

		/********
		 * Main *
		 ********/

		&.main {
			background-color: var(--cm-color-ui-light5);
			border: solid 1px var(--cm-color-ui-light3);
			color: var(--cm-color-ui-dark4);
		}

		&.main:hover {
			background-color: var(--cm-color-button-light1);
			border: solid 1px var(--cm-color-button-light2);
		}

		&.main:focus {
			outline: none;
		}

		&.main:focus-visible {
			box-shadow: 0px 0px 0px 1px var(--cm-color-focus-inner-neutral2),
				0px 0px 0px 4px var(--cm-color-focus-outer-neutral);
		}

		&.main:active {
			background-color: var(--cm-color-ui-light3);
			border: solid 1px var(--cm-color-button-light3);
		}

		&.main.disabled {
			background-color: var(--cm-color-button-light4);
			border: solid 1px var(--cm-color-ui-light3);
			color: rgba(var(--cm-color-ui-dark4-rgb), 0.5);
			box-shadow: unset;
		}

		/***********
		 * Primary *
		 ***********/

		&.primary {
			background-color: var(--cm-color-blue-base);
			border: solid 1px var(--cm-color-button-blue3);
			color: var(--cm-color-ui-light4);
		}

		&.primary cm-icon {
			filter: brightness(100);
		}

		&.primary:hover {
			background-color: var(--cm-color-button-blue3);
			border: solid 1px var(--cm-color-button-blue4);
		}

		&.primary:focus {
			outline: none;
		}

		&.primary:focus-visible {
			box-shadow: 0px 0px 0px 1px var(--cm-color-focus-inner-neutral),
				0px 0px 0px 4px var(--cm-color-focus-outer-neutral);
		}

		&.primary:active {
			background-color: var(--cm-color-button-blue4);
			border: solid 1px var(--cm-color-button-blue5);
		}

		&.primary.disabled {
			background-color: var(--cm-color-button-blue2);
			border: solid 1px var(--cm-color-button-blue1);
			color: rgba(var(--cm-color-ui-light4-rgb), 0.5);
			box-shadow: unset;
		}

		/*************
		 * Secondary *
		 *************/

		&.secondary {
			background-color: var(--cm-color-button-light4);
			border: solid 1px var(--cm-color-ui-light3);
			color: var(--cm-color-ui-dark4);
		}

		&.secondary:hover {
			background-color: var(--cm-color-button-light5);
			border: solid 1px var(--cm-color-ui-light3);
		}

		&.secondary:focus {
			outline: none;
		}

		&.secondary:focus-visible {
			box-shadow: 0px 0px 0px 1px var(--cm-color-focus-inner-neutral2),
				0px 0px 0px 4px var(--cm-color-focus-outer-neutral);
		}

		&.secondary:active {
			background-color: var(--cm-color-button-light6);
			border: solid 1px var(--cm-color-ui-light3);
		}

		&.secondary.disabled {
			background-color: var(--cm-color-button-light4);
			border: solid 1px var(--cm-color-ui-light3);
			color: rgba(var(--cm-color-ui-dark4-rgb), 0.5);
			box-shadow: unset;
		}
	}

	.label {
		display: grid;
		grid-auto-flow: column;
		align-items: flex-start;
		gap: 8px;
		padding: 5px 10px;
		padding-right: 5px;
		border-radius: 5px;

		cursor: pointer;
		user-select: none;

		transition: all 0.2s linear;

		&:focus {
			outline: none;
		}

		&:hover,
		&:focus-visible {
			background-color: rgba(var(--cm-color-ui-light5-rgb), 0.5);
		}

		.text {
			font-family: var(--cm-font-text);
			font-size: 15px;
			font-weight: 500;
			color: var(--cm-color-ui-light6);
		}
	}
}

.flyout {
	display: grid;
	opacity: 0;
	pointer-events: none;

	transition: opacity 150ms linear;

	z-index: 100;

	position: fixed;

	padding: 5px;

	border-radius: 5px;
	overflow: hidden;
	box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.2);
	background: #fcfcfc;

	min-width: max-content;

	gap: 5px;

	&.open {
		opacity: 1;
		pointer-events: initial;
	}

	.optionGroup {
		&:not(:first-child) {
			padding-top: 5px;
			border-top: solid 1px var(--cm-color-ui-light5);
		}

		.title {
			font-family: var(--cm-font-text);
			font-size: 11px;
			color: var(--cm-color-ui-light6);
		}

		& > .title:not(:empty) {
			padding: 5px 15px 0px;
		}

		.option {
			user-select: none;
			border-radius: 3px;
			padding: 8px 15px;
			font-family: var(--cm-font-text);
			font-size: 14px;
			color: var(--cm-color-ui-dark4);

			transition: all 150ms linear;

			&:not(.disabled) {
				cursor: pointer;
			}

			&:hover {
				background: #f0f0f0;
			}

			&.isDangerous {
				color: #e30100;
			}

			&.isDisabled {
				opacity: 0.5;
			}

			& > .title {
				padding-bottom: 2px;
			}
		}
	}
}
