:host {
	display: inline-block;
	width: 100%;
}

.container {
	display: grid;
	font-family: var(--cm-font-text);
	box-sizing: border-box;

	* {
		box-sizing: border-box;
	}

	&.vertical {
		grid-template-areas:
			'labelContainer'
			'inputContainer';
		grid-template-columns: 1fr;
		grid-template-rows: max-content max-content;

		&.hasError {
			grid-template-areas:
				'labelContainer'
				'inputContainer'
				'error';
			grid-template-columns: 1fr;
			grid-template-rows: max-content max-content max-content;
		}

		.labelContainer {
			grid-area: labelContainer;
			display: grid;

			padding-left: 1px;
			padding-right: 3px;
			padding-bottom: 4px;

			&.isEmpty {
				padding: 0;
			}

			grid-template-areas:
				'label      requiredStatus'
				'helperText helperText';
		}
	}

	&.horizontal {
		grid-template-areas: 'labelContainer inputContainer';
		grid-template-columns: max-content 1fr;
		grid-template-rows: max-content;
		gap: 0px 10px;

		&.hasError {
			grid-template-areas:
				'labelContainer inputContainer'
				'.              error';
			grid-template-columns: max-content 1fr;
			grid-template-rows: max-content max-content;
			gap: 5px 10px;
		}

		.labelContainer {
			grid-area: labelContainer;
			display: grid;

			grid-template-areas: 'label requiredStatus';
		}
	}

	&.Light {
		.inputContainer {
			textarea {
				&::-webkit-resizer {
					background-image: url("data:image/svg+xml,%3Csvg width='10' height='10' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.536 5L9.95 6.414 6.414 9.95 5 8.536 8.536 5zm-.05-5l1.413 1.414L1.414 9.9 0 8.485 8.485 0z' fill='%2362626E' fill-rule='evenodd'/%3E%3C/svg%3E");
				}
			}

			input,
			textarea {
				color: var(--cm-color-ui-dark4);

				&::placeholder {
					color: var(--cm-color-ui-light6);
				}
			}

			.prefix {
				&.text {
					background-color: var(--cm-color-button-light4);
					color: var(--cm-color-ui-dark4);
					border-right: solid 1px var(--cm-color-ui-light3);
				}
			}

			.suffix {
				&.text {
					color: var(--cm-color-ui-dark4);
					background-color: var(--cm-color-button-light4);
					border-left: solid 1px var(--cm-color-ui-light3);
				}

				&.copy {
					.tooltip {
						background: var(--cm-color-ui-dark4);
						color: white;
						&::before {
							border-top: 6px solid var(--cm-color-ui-dark4);
						}
					}
				}

				&.number {
					.button {
						background-color: var(--cm-color-button-light4);
						border-left: solid 1px var(--cm-color-ui-light3);
						&.minus {
							background-image: url("data:image/svg+xml,%3Csvg width='10' height='2' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cdefs%3E%3Cpath id='a' d='M0 0h10v2H0z'/%3E%3C/defs%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cmask id='b' fill='%23fff'%3E%3Cuse xlink:href='%23a'/%3E%3C/mask%3E%3Cuse fill='%234C5462' xlink:href='%23a'/%3E%3Cg mask='url(%23b)'%3E%3Cpath d='M-3-7h16V9H-3z' fill='%2345464E'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
						}

						&.plus {
							background-image: url("data:image/svg+xml,%3Csvg width='10' height='10' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cdefs%3E%3Cpath d='M6 0v3.999L10 4v2H6v4H4V6H0V4h4V0h2Z' id='a'/%3E%3C/defs%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cmask id='b' fill='%23fff'%3E%3Cuse xlink:href='%23a'/%3E%3C/mask%3E%3Cuse fill='%234C5462' xlink:href='%23a'/%3E%3Cg mask='url(%23b)'%3E%3Cpath d='M-3-3h16v16H-3z' fill='%2345464E'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
						}
						&:hover {
							background-color: var(--cm-color-ui-light5);
						}
					}
				}

				&.maxlength {
					color: var(--cm-color-ui-dark4);
				}
			}

			border: solid 1px var(--cm-color-ui-light3);
			background-color: var(--cm-color-ui-light4);
		}

		&:hover {
			.inputContainer {
				border: solid 1px var(--cm-color-blue-base);
			}
		}

		&:focus-within {
			.inputContainer {
				box-shadow: 0 0 0 2px var(--cm-color-focus-outer-neutral);
				border: solid 1px var(--cm-color-blue-base);
			}
		}

		&.disabled {
			cursor: not-allowed;

			.inputContainer {
				border: solid 1px var(--cm-color-ui-light5);
				background-color: var(--cm-color-button-light4);

				.prefix {
					&.text {
						border-right-color: var(--cm-color-ui-light5);
					}
				}

				input,
				textarea {
					cursor: not-allowed;
				}

				.suffix {
					&.text {
						border-left-color: var(--cm-color-ui-light5);
					}
				}
			}
		}

		&.hasError {
			.inputContainer {
				border-color: var(--cm-color-red-base);
			}

			&:focus-within {
				.inputContainer {
					border-color: var(--cm-color-red-base);
					box-shadow: 0px 0px 0px 2px
						var(--cm-color-focus-outer-danger);
				}
			}
		}
	}

	&.Dark {
		.inputContainer {
			textarea {
				&::-webkit-resizer {
					background-image: url("data:image/svg+xml,%3Csvg width='10' height='10' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.536 5L9.95 6.414 6.414 9.95 5 8.536 8.536 5zm-.05-5l1.413 1.414L1.414 9.9 0 8.485 8.485 0z' fill='%23FDFDFE' fill-rule='evenodd'/%3E%3C/svg%3E");
				}
			}

			input,
			textarea {
				color: var(--cm-color-white-base);

				&::placeholder {
					color: var(--cm-color-white-base);
				}
			}

			.prefix {
				&.text {
					background-color: var(--cm-color-ui-dark5);
					color: rgba(var(--cm-color-white-base-rgb), 0.9);
					border-right: solid 1px var(--cm-color-ui-dark6);
				}
			}

			.suffix {
				&.text {
					color: rgba(var(--cm-color-white-base-rgb), 0.9);
					background-color: var(--cm-color-ui-dark5);
					border-left: solid 1px var(--cm-color-ui-dark6);
				}

				&.copy {
					.tooltip {
						background-color: var(--cm-color-ui-light4);
						color: var(--cm-color-ui-dark4);
						&::before {
							border-top: 6px solid var(--cm-color-ui-light4);
						}
					}
				}

				&.number {
					.button {
						background-color: var(--cm-color-ui-dark5);
						border-left: solid 1px var(--cm-color-ui-dark6);

						&.minus {
							background-image: url("data:image/svg+xml,%3Csvg width='10' height='2' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cdefs%3E%3Cpath id='a' d='M0 0h10v2H0z'/%3E%3C/defs%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cmask id='b' fill='%23fff'%3E%3Cuse xlink:href='%23a'/%3E%3C/mask%3E%3Cuse fill='%234C5462' xlink:href='%23a'/%3E%3Cg mask='url(%23b)'%3E%3Cpath d='M-3-7h16V9H-3z' fill='%23fdfdfe'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
						}

						&.plus {
							background-image: url("data:image/svg+xml,%3Csvg width='10' height='10' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cdefs%3E%3Cpath d='M6 0v3.999L10 4v2H6v4H4V6H0V4h4V0h2Z' id='a'/%3E%3C/defs%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cmask id='b' fill='%23fff'%3E%3Cuse xlink:href='%23a'/%3E%3C/mask%3E%3Cuse fill='%234C5462' xlink:href='%23a'/%3E%3Cg mask='url(%23b)'%3E%3Cpath d='M-3-3h16v16H-3z' fill='%23fdfdfe'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
						}
						&:hover {
							background-color: var(--cm-color-ui-dark6);
						}
					}
				}

				&.maxlength {
					color: var(--cm-color-ui-light4);
				}
			}

			border: solid 1px var(--cm-color-button-dark2);
			background-color: var(--cm-color-ui-dark2);
		}

		.label {
			color: var(--cm-color-ui-light4);
		}

		.requiredStatus {
			color: var(--cm-color-ui-light4);
		}

		&:hover {
			.inputContainer {
				border: solid 1px var(--cm-color-blue-base);
			}
		}

		&:focus-within {
			.inputContainer {
				box-shadow: 0 0 0 2px var(--cm-color-focus-outer-neutral);
				border: solid 1px var(--cm-color-blue-base);
			}
		}

		&.disabled {
			cursor: not-allowed;

			.inputContainer {
				border: solid 1px var(--cm-color-button-dark5);
				background-color: var(--cm-color-label-dark);

				.prefix {
					&.text {
						border-right-color: var(--cm-color-ui-light5);
					}
				}

				input,
				textarea {
					cursor: not-allowed;
				}

				.suffix {
					&.text {
						border-left-color: var(--cm-color-ui-light5);
					}
				}
			}
		}

		&.hasError {
			.inputContainer {
				border-color: var(--cm-color-red-base);
			}

			&:focus-within {
				.inputContainer {
					border-color: var(--cm-color-red-base);
					box-shadow: 0px 0px 0px 2px
						var(--cm-color-focus-outer-danger);
				}
			}
		}
	}

	.label {
		grid-area: label;
		display: grid;

		align-content: center;

		font-size: 13px;
		font-weight: 500;
		color: var(--cm-color-ui-light6);
	}

	.helperText {
		grid-area: helperText;
		user-select: none;
	}

	.requiredStatus {
		grid-area: requiredStatus;
		justify-self: flex-end;
	}

	.inputContainer {
		grid-area: inputContainer;

		display: grid;

		grid-template-areas: 'prefix input asyncStatusIndicator suffix';
		grid-template-columns: max-content 1fr max-content max-content;
		align-items: center;

		min-height: 30px;

		border-radius: 3px;

		transition: border linear 200ms, box-shadow linear 200ms;

		.prefix {
			grid-area: prefix;
			display: grid;
			grid-auto-flow: column;
			height: 30px;
			align-items: center;

			border-bottom-left-radius: 2px;
			border-top-left-radius: 2px;

			&.empty {
				width: 10px;
			}

			&.text {
				padding: 0px 10px;
				font-size: 14px;
				color: var(--cm-color-ui-dark4);
				background-color: var(--cm-color-button-light4);
				border-right: solid 1px var(--cm-color-ui-light3);
				margin-right: 10px;
			}

			&.icon {
				width: 30px;
				justify-items: center;
			}
		}

		input,
		textarea {
			grid-area: input;
			border: none;
			background: transparent;

			font-family: var(--cm-font-text);
			font-size: 14px;

			&:focus {
				outline: none;
			}

			&::placeholder {
				font-size: 14px;
				font-style: italic;
			}
		}

		input {
			height: 30px;
			min-width: 0px;
			padding: 0px;

			&[type='password']::-ms-reveal,
			&[type='password']::-ms-clear {
				display: none;
			}

			&::-webkit-outer-spin-button,
			&::-webkit-inner-spin-button {
				-webkit-appearance: none;
			}

			&[type='number'] {
				-moz-appearance: textfield;
			}
		}

		textarea {
			min-height: 60px;
			min-width: 100px;
			padding: 6px 10px;
			align-self: flex-start;
			resize: vertical;

			line-height: 1.65;

			&::-webkit-resizer {
				background-repeat: no-repeat;
				background-position: calc(100% - 2px) calc(100% - 2px);
			}
		}

		.asyncStatusIndicator {
			grid-area: asyncStatusIndicator;
			display: grid;
		}

		.suffix {
			grid-area: suffix;
			display: grid;
			grid-auto-flow: column;
			height: 30px;
			align-items: center;

			border-bottom-right-radius: 2px;
			border-top-right-radius: 2px;

			&.empty {
				margin-left: 10px;
			}

			&.text {
				padding: 0px 10px;
				font-size: 14px;
				margin-left: 10px;
			}

			&.icon {
				width: 30px;
				justify-items: center;
			}

			&.password {
				padding: 0px 10px;
				cursor: pointer;
			}

			&.copy {
				width: 30px;
				justify-items: center;
				position: relative;

				.tooltip {
					&.hidden {
						opacity: 0;
					}

					transition: opacity ease-in-out 250ms;

					user-select: none;

					position: absolute;
					top: -22px;
					right: 2px;

					border-radius: 3px;

					height: 20px;
					padding: 0px 15px;

					line-height: 20px;

					font-family: var(--cm-font-text);
					font-size: 12px;
					font-weight: 500;

					&::before {
						content: '';

						position: absolute;
						bottom: -5px;
						right: 7px;

						width: 0;
						height: 0;

						border-left: 5px solid transparent;
						border-right: 5px solid transparent;
					}
				}

				cm-icon {
					cursor: pointer;
				}
			}

			&.maxlength {
				padding: 0px 10px;
				font-size: 12px;
				line-height: 30px;
			}

			&.number {
				padding: 0px;

				.button {
					width: 30px;
					height: 30px;
					background-repeat: no-repeat;
					background-position: center center;
					cursor: pointer;

					transition: all 200ms linear;

					&:last-child {
						border-bottom-right-radius: 2px;
						border-top-right-radius: 2px;
					}
				}
			}
		}
	}

	.errorMessage {
		display: grid;

		grid-auto-flow: column;
		grid-auto-columns: max-content 1fr;

		gap: 6px;
		padding-left: 6px;

		font-size: 13px;
		color: var(--cm-color-red-base);

		&:not(:empty) {
			padding-top: 8px;
		}
	}
}
