:host {
	display: flex;
	flex-direction: column;

	background: var(--cm-color-ui-light4);
}

header {
	background: var(--cm-color-ui-light1);
	padding: 0px 65px;

	border-bottom: 1px solid var(--cm-color-ui-light5);

	&.empty {
		border-bottom: 0px;
	}

	.handles {
		display: flex;
		width: 100%;
		position: relative;
		top: 1px;
		left: -8px;
		height: 30px;

		flex-direction: row;

		cm-page-tab-handle {
			&:not(:last-child) {
				margin-right: 20px;
			}

			&:nth-child(1):last-child {
				display: none;
			}
		}
	}

	.headerSlot {
		height: 105px;
		display: grid;
		grid-auto-flow: column;
		grid-auto-columns: max-content;
		gap: 10px;
		align-content: center;

		&.empty {
			padding: 0px;
		}
	}
}

.tabs {
	padding: 40px 65px;
	height: 100%;
	overflow: auto;
}
