:host {
	display: block;
	overflow: hidden;
}

#notificationContainer {
	display: grid;
	position: relative;

	grid-auto-flow: dense;
	align-content: end;

	width: 350px;

	overflow: hidden;

	cm-notification {
		&.hidden {
			position: absolute;
			bottom: 1000px;
			z-index: -1;
		}

		&.collapse {
			height: 0;
			padding: 0;
		}
	}
}
