@keyframes spinner {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

:host {
	display: inline-block;
}

.spinner {
	box-sizing: content-box;

	border-radius: 50%;
	border-style: solid;

	&.normal {
		width: 22px;
		height: 22px;

		animation: spinner 0.8s linear infinite;

		border-width: 4px;
	}

	&.small {
		width: 10px;
		height: 10px;

		border-width: 2px;
		animation: spinner 0.7s linear infinite;
	}

	&.Light {
		border-color: var(--cm-color-ui-light6);
		border-bottom-color: transparent;
	}

	&.Dark {
		border-color: var(--cm-color-ui-light4);
		border-bottom-color: transparent;
	}
}
