cm-datalist-item:not(:last-child) {
	border-bottom: 1px solid var(--cm-color-ui-light5);
}

.container {
	display: grid;
	gap: 20px;
	height: 40px;
	line-height: 40px;

	& .label {
		padding-left: 20px;

		opacity: 0.9;

		font-family: var(--cm-font-text);
		font-size: 14px;
		font-weight: 600;

		color: var(--cm-color-ui-dark4);

		text-overflow: ellipsis;
		overflow: hidden;
		white-space: nowrap;
	}

	& .content {
		padding-right: 40px;

		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
}
