:root {
	/* #region Colors */

	--cm-color-blue-base: #4d90ff;

	--cm-color-green-base: #10d070;

	--cm-color-red-base: #ff3d3d;

	--cm-color-orange-base: #ffa533;

	--cm-color-white-base: #ffffff;

	--cm-color-white-base-rgb: 255, 255, 255;
	--cm-color-black-base-rgb: 0, 0, 0;

	--cm-color-ui-light1: #f2f3f5;
	--cm-color-ui-light2: #f7f8fa;
	--cm-color-ui-light3: #b0bac7;
	--cm-color-ui-light4: #fdfdfe;
	--cm-color-ui-light5: #d8dce3;
	--cm-color-ui-light5-rgb: 216, 220, 227;
	--cm-color-ui-light6: #62626e;
	--cm-color-ui-light6-rgb: 98, 98, 110;

	--cm-color-ui-dark1: #1c1f23;
	--cm-color-ui-dark2: #313238;
	--cm-color-ui-dark3: #393a41;
	--cm-color-ui-dark4: #45464e;
	--cm-color-ui-dark5: #5b5e63;
	--cm-color-ui-dark6: #6d7076;

	--cm-color-focus-outer-neutral: #8cb7ff;
	--cm-color-focus-inner-neutral: #c8e1ff;
	--cm-color-focus-inner-neutral2: #2b7bff;
	--cm-color-focus-outer-danger: #ffb3b3;
	--cm-color-focus-inner-danger: #ffe0e0;

	--cm-color-button-light1: #cdd4df;
	--cm-color-button-light2: #9ea9b7;
	--cm-color-button-light3: #88889a;
	--cm-color-button-light4: #f1f2f5;
	--cm-color-button-light5: #e7e9ee;
	--cm-color-button-light6: #d3d6e0;

	--cm-color-button-blue1: #a2c5ff;
	--cm-color-button-blue2: #80b0ff;
	--cm-color-button-blue3: #3c85ff;
	--cm-color-button-blue4: #1a70ff;
	--cm-color-button-blue5: #005df7;

	--cm-color-button-red1: #ffcccc;
	--cm-color-button-red2: #ffb3b3;
	--cm-color-button-red3: #ff0a0a;
	--cm-color-button-red4: #d60000;
	--cm-color-button-red5: #c20000;

	--cm-color-link: hsl(218, 58%, 49%);
	--cm-color-link-hover: hsl(218, 58%, 55%);
	--cm-color-link-active: hsl(218, 58%, 39%);
	--cm-color-link-dark: hsl(213, 100%, 93%);
	--cm-color-link-hover-dark: hsl(213, 100%, 89%);
	--cm-color-link-active-dark: hsl(214, 100%, 96%);

	/* #endregion */

	/* #region Fonts */

	--cm-font-text: 'IBM Plex Sans';

	/* #endregion */
}
