:host {
	display: inline-block;
	position: relative;
}

div {
	&::before {
		pointer-events: none;
		content: '';
		position: absolute;
		right: 10px;
		top: 50%;
		transform: translateY(-50%);

		background-image: url("data:image/svg+xml,%3Csvg width='10' height='7' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.95 6.9L0 1.95 1.414.536 4.95 4.07 8.485.536 9.9 1.95 4.95 6.9z' fill='%233B3B3B' fill-rule='evenodd'/%3E%3C/svg%3E");
		background-repeat: no-repeat;

		width: 10px;
		height: 7px;

		transition: 0.2s all linear;
		opacity: 0.6;
	}

	&.disabled {
		pointer-events: none;

		&::before {
			opacity: 0.5;
		}

		select {
			color: var(--cm-color-grey-lighten-56);
		}
	}

	&:hover {
		&::before {
			opacity: 0.8;
		}
	}

	&:active {
		&::before {
			opacity: 1;
		}
	}
}

select {
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;

	box-sizing: border-box;

	height: 30px;

	background: var(--cm-color-silver-base-97);

	border: 1px solid var(--cm-color-silver-darken-80);
	border-radius: 3px;
	padding: 5px 30px 5px 10px;

	color: var(--cm-color-grey-darken-33);
	font-family: var(--cm-font-text);
	font-size: 14px;

	transition: 0.2s all linear;

	&:focus {
		outline: none;
		box-shadow: 0px 0px 0px 1px var(--cm-color-blue-darken-55),
			0px 0px 0px 4px var(--cm-color-blue-lighten-82);
	}

	&:hover {
		background: var(--cm-color-silver-darken-94);
		border-color: var(--cm-color-silver-darken-87);
	}

	&:active {
		background: var(--cm-color-silver-darken-87);
	}
}
