:host {
	display: block;

	// Prevent scrolling when the modal gets focussed
	position: fixed;

	z-index: 1000;
}

.container {
	display: grid;
	justify-content: center;

	position: fixed;

	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;

	background-color: rgba(0, 0, 0, 0.5);
	padding: 110px 0px 60px;

	opacity: 0;
	pointer-events: none;
	transition: all 0.2s linear;

	&.open {
		opacity: 1;
		pointer-events: unset;

		& .window {
			transform: scale(1);
		}
	}

	&.center {
		align-items: center;

		padding-bottom: 140px;

		.window {
			max-height: calc(
				100vh - 110px - 140px
			); // Fix for a weird safari bug where max-height: 100% doesnt take any effect
		}
	}

	&.top {
		align-items: flex-start;
	}
}

.window {
	display: grid;
	box-sizing: border-box;
	width: 636px;
	max-height: calc(
		100vh - 110px - 60px
	); // Fix for a weird safari bug where max-height: 100% doesnt take any effect
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.5);

	border-radius: 3px;
	overflow: hidden;

	border: solid 1px var(--cm-color-ui-light5);
	background-color: var(--cm-color-ui-light4);

	grid-template:
		'header' 57px
		'content' minmax(0, 1fr)
		'buttons' 65px;

	transform: scale(0.9);
	transition: all 0.2s linear;

	& .header {
		display: grid;
		grid-area: header;
		box-sizing: border-box;
		padding: 0px 20px;
		border-bottom: solid 1px var(--cm-color-ui-light5);
		background-color: var(--cm-color-ui-light2);
		align-items: center;
		grid-auto-flow: column;

		& h1 {
			justify-self: start;

			font-family: var(--cm-font-text);
			font-size: 15px;
			font-weight: bold;
			color: var(--cm-color-ui-light6);
		}

		& cm-icon-button {
			justify-self: end;
		}
	}

	& .content {
		grid-area: content;
		box-sizing: border-box;
		padding: 20px;
		overflow: auto;
	}

	& .buttons {
		display: grid;
		grid-area: buttons;
		box-sizing: border-box;
		border-top: solid 1px var(--cm-color-ui-light5);

		padding: 0px 20px;
		gap: 15px;
		justify-content: end;
		align-items: center;
		grid-auto-flow: column;
	}
}
