:host {
	display: block;
}

.container {
	background: var(--cm-color-ui-light2);
}

.header {
	display: grid;
	grid-template-areas:
		'headline      buttons'
		'columnHeaders columnHeaders';
	background: var(--cm-color-ui-light2);

	.headline {
		grid-area: headline;
		font-family: var(--cm-font-text);
		font-size: 24px;
		font-weight: 500;

		color: var(--cm-color-ui-light6);
		padding-bottom: 35px;
	}

	.buttons {
		display: grid;
		grid-auto-flow: column;
		grid-area: buttons;

		align-content: start;
		justify-content: end;
		gap: 10px;

		cm-button {
			justify-self: end;
		}
	}

	.columnHeaders {
		grid-area: columnHeaders;
		box-sizing: border-box;
		display: grid;
		padding: 0px 20px 15px;
		gap: 15px;
		min-height: 35px;

		cm-checkbox {
			transition: all 0.2s linear;
			opacity: 0;

			&.visible {
				opacity: 1;
			}
		}

		&:hover {
			cm-checkbox {
				opacity: 1;
			}
		}

		.columnHeader {
			box-sizing: border-box;
			display: grid;
			grid-auto-flow: column;
			grid-auto-columns: max-content;
			gap: 5px;

			font-family: var(--cm-font-text);
			font-size: 14px;
			font-weight: 400;

			color: var(--cm-color-ui-light6);

			&:not(:empty) {
				cursor: pointer;
			}
		}
	}
}

.entities {
	position: relative;
	box-sizing: border-box;
	display: grid;
	gap: 15px;

	.entity {
		box-sizing: border-box;
		display: grid;
		min-height: 60px;
		padding: 0px 20px;
		gap: 15px;

		background-color: var(--cm-color-ui-light4);

		border-radius: 3px;
		border: solid 1px var(--cm-color-ui-light5);

		box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);

		cm-dropdown {
			transition: all 0.2s linear;
			opacity: 0;
		}

		cm-checkbox {
			transition: all 0.2s linear;
			opacity: 0;

			&.visible {
				opacity: 1;
			}
		}

		&.selected {
			box-shadow: 0px 0px 0px 2px var(--cm-color-blue-base),
				0 1px 4px 0 rgba(0, 0, 0, 0.1);
			background-color: var(--cm-color-focus-inner-neutral);

			cm-checkbox {
				opacity: 1;
			}
		}

		&:hover,
		&:focus,
		&:focus-within {
			cm-dropdown {
				opacity: 1;
			}

			cm-checkbox {
				opacity: 1;
			}
		}

		.cell {
			min-height: 60px;
			box-sizing: border-box;
			display: grid;
			align-content: center;

			gap: 10px;

			font-family: var(--cm-font-text);
			font-size: 15px;
			font-weight: 400;

			color: var(--cm-color-ui-light6);

			span {
				min-height: 20px;
			}
		}
	}

	.loader {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;

		z-index: 1;

		display: grid;
		padding-top: 40px;
		justify-content: center;

		background-color: rgba(247, 248, 250, 0.7);
	}
}
