:host {
	display: block;
}

.container {
	background: var(--cm-color-ui-light2);
	z-index: 1;
	position: relative;
}

.header {
	display: grid;
	gap: 35px 0px;
	grid-template-areas:
		'headline      buttons'
		'columnHeaders columnHeaders';
	background: var(--cm-color-ui-light2);

	.headline {
		grid-area: headline;
		font-family: var(--cm-font-text);
		font-size: 24px;
		font-weight: 500;

		color: var(--cm-color-ui-light6);
	}

	.buttons {
		display: grid;
		grid-auto-flow: column;
		grid-area: buttons;

		align-items: center;
		justify-content: end;
		gap: 10px;

		.search {
			transition: all 0.2s linear;
			display: grid;
			height: 32px;
			min-width: 32px;
			grid-auto-columns: 32px;
			border-radius: 16px;

			grid-auto-flow: column;
			align-items: center;
			justify-content: center;
			background-color: rgba(216, 220, 227, 0);

			input {
				display: none;

				&::placeholder {
					font-style: italic;
					opacity: 0.7;
				}
			}

			&.open {
				grid-auto-columns: 1fr 32px;
				justify-content: space-between;
				width: 180px;
				background-color: rgba(216, 220, 227, 0.5);

				input {
					display: unset;
					appearance: none;
					min-width: 0px;

					border: none;
					background: transparent;
					outline: none;
					padding-left: 12px;
					padding-right: 6px;

					font-family: var(--cm-font-text);
					font-size: 14px;
					color: var(--cm-color-ui-dark4);
				}
			}

			cm-icon-button {
				justify-self: center;
			}
		}

		cm-button {
			justify-self: end;
		}
	}

	.columnHeaders {
		grid-area: columnHeaders;
		box-sizing: border-box;
		display: grid;
		padding: 0px 20px 15px;
		gap: 15px;
		min-height: 35px;
		position: relative;

		.loader {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;

			z-index: 1;

			display: grid;
			padding-top: 40px;
			justify-content: center;

			background-color: rgba(247, 248, 250, 0.7);
		}

		cm-checkbox {
			transition: all 0.2s linear;
			opacity: 0;

			&.visible {
				opacity: 1;
			}
		}

		&:hover {
			cm-checkbox {
				opacity: 1;
			}
		}

		.columnHeader {
			box-sizing: border-box;
			display: grid;
			grid-auto-flow: column;
			grid-auto-columns: minmax(0, max-content);
			gap: 5px;
			align-items: center;

			font-family: var(--cm-font-text);
			font-size: 14px;
			font-weight: 400;

			color: var(--cm-color-ui-light6);

			&:not(:empty) {
				cursor: pointer;
			}

			span {
				text-overflow: ellipsis;
				white-space: nowrap;
				overflow: hidden;
			}
		}
	}
}

.entities {
	position: relative;
	box-sizing: border-box;
	display: grid;
	gap: 15px;
	z-index: 1;

	.entity {
		box-sizing: border-box;
		display: grid;
		min-height: 60px;
		padding: 0px 20px;
		gap: 15px;

		transition: background-color 0.2s linear, box-shadow 0.2s linear;

		background-color: var(--cm-color-ui-light4);

		border-radius: 3px;
		border: solid 1px var(--cm-color-ui-light5);

		box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);

		cm-dropdown {
			transition: all 0.2s linear;
			opacity: 0;
		}

		cm-checkbox {
			transition: all 0.2s linear;
			opacity: 0;

			&.visible {
				opacity: 1;
			}
		}

		&.hasPress:hover {
			background-color: rgba(176, 186, 199, 0.15);
		}

		&.selected {
			box-shadow: 0px 0px 0px 2px var(--cm-color-blue-base),
				0 1px 4px 0 rgba(0, 0, 0, 0.1);
			background-color: var(--cm-color-focus-inner-neutral);

			cm-checkbox {
				opacity: 1;
			}
		}

		&:hover,
		&:focus,
		&:focus-within {
			cm-dropdown {
				opacity: 1;
			}

			cm-checkbox {
				opacity: 1;
			}
		}

		.cell {
			min-height: 60px;
			box-sizing: border-box;
			display: grid;
			align-content: center;

			gap: 10px;

			font-family: var(--cm-font-text);
			font-size: 15px;
			font-weight: 400;

			color: var(--cm-color-ui-light6);

			span {
				min-height: 20px;
			}
		}
	}

	.loader {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;

		display: grid;
		padding-top: 40px;
		justify-content: center;

		background-color: rgba(247, 248, 250, 0.7);
	}
}
