:host {
	display: inline-block;
	user-select: none;
}

div {
	display: grid;
	transition: all 0.2s linear;
	height: 35px;
	min-width: 80px;
	position: relative;

	cursor: pointer;

	padding: 0 20px 0 20px;

	border-radius: 3px;

	font-family: var(--cm-font-text);
	font-size: 14px;
	font-weight: 700;
	line-height: 35px;
	text-decoration: none;
	text-align: center;

	span {
		opacity: 1;
		transition: all 0.2s linear;
		transition-delay: 0.2s;

		&.disabled {
			transition-delay: 0s;
		}
	}

	cm-loader {
		position: absolute;
		opacity: 0;

		align-self: center;
		justify-self: center;

		transition: all 0.2s linear;
		transition-delay: 0s;

		pointer-events: none;
	}

	&.initialRender {
		transition: none;
	}

	&:not(.link).loading {
		span {
			opacity: 0;
			transition-delay: 0s;
		}

		cm-loader {
			opacity: 1;
			transition-delay: 0.2s;
		}
	}

	&.small {
		height: 22px;
		line-height: 22px;
		min-width: 60px;

		font-size: 13px;

		padding: 0 10px 0 10px;
	}

	&.disabled,
	&:not(.link).loading {
		pointer-events: none;
		cursor: default;
	}

	&.disabled span {
		opacity: 0.5;
	}

	&:focus {
		outline: none;
	}

	/********
	 * Main *
	 ********/

	&.main {
		background-color: var(--cm-color-ui-light5);
		border: solid 1px var(--cm-color-ui-light3);
		color: var(--cm-color-ui-dark4);
		box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.08);

		&:hover {
			background-color: var(--cm-color-button-light1);
			border: solid 1px var(--cm-color-button-light2);
		}

		&:focus {
			outline: none;
		}

		&:focus-visible {
			box-shadow: 0px 0px 0px 1px var(--cm-color-focus-inner-neutral2),
				0px 0px 0px 4px var(--cm-color-focus-outer-neutral);
		}

		&:active {
			background-color: var(--cm-color-ui-light3);
			border: solid 1px var(--cm-color-button-light3);
		}

		&.disabled,
		&.loading {
			background-color: var(--cm-color-button-light4);
			border: solid 1px var(--cm-color-ui-light3);
			box-shadow: unset;
		}
	}

	/***********
	 * Primary *
	 ***********/

	&.primary {
		background-color: var(--cm-color-blue-base);
		border: solid 1px var(--cm-color-button-blue3);
		color: var(--cm-color-ui-light4);
		box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.35);

		&:hover {
			background-color: var(--cm-color-button-blue3);
			border: solid 1px var(--cm-color-button-blue4);
		}

		&:focus {
			outline: none;
		}

		&:focus-visible {
			box-shadow: 0px 0px 0px 1px var(--cm-color-focus-inner-neutral),
				0px 0px 0px 4px var(--cm-color-focus-outer-neutral);
		}

		&:active {
			background-color: var(--cm-color-button-blue4);
			border: solid 1px var(--cm-color-button-blue5);
		}

		&.disabled,
		&.loading {
			background-color: var(--cm-color-button-blue2);
			border: solid 1px var(--cm-color-button-blue1);
			box-shadow: unset;
		}
	}

	/*************
	 * Secondary *
	 *************/

	&.secondary {
		background-color: var(--cm-color-button-light4);
		border: solid 1px var(--cm-color-ui-light3);
		color: var(--cm-color-ui-dark4);
		box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.08);

		&:hover {
			background-color: var(--cm-color-button-light5);
			border: solid 1px var(--cm-color-ui-light3);
		}

		&:focus {
			outline: none;
		}

		&:focus-visible {
			box-shadow: 0px 0px 0px 1px var(--cm-color-focus-inner-neutral2),
				0px 0px 0px 4px var(--cm-color-focus-outer-neutral);
		}

		&:active {
			background-color: var(--cm-color-button-light6);
			border: solid 1px var(--cm-color-ui-light3);
		}

		&.disabled,
		&.loading {
			background-color: var(--cm-color-button-light4);
			border: solid 1px var(--cm-color-ui-light3);
			box-shadow: unset;
		}
	}

	/**********
	 * Danger *
	 **********/

	&.danger {
		background-color: var(--cm-color-red-base);
		border: solid 1px var(--cm-color-button-red3);
		color: var(--cm-color-ui-light4);
		box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.35);

		&:hover {
			background-color: var(--cm-color-button-red3);
			border: solid 1px var(--cm-color-button-red4);
		}

		&:focus {
			outline: none;
		}

		&:focus-visible {
			box-shadow: 0px 0px 0px 1px var(--cm-color-focus-inner-danger),
				0px 0px 0px 4px var(--cm-color-focus-outer-danger);
		}

		&:active {
			background-color: var(--cm-color-button-red4);
			border: solid 1px var(--cm-color-button-red5);
		}

		&.disabled,
		&.loading {
			background-color: var(--cm-color-button-red2);
			border: solid 1px var(--cm-color-button-red1);
			box-shadow: unset;
		}
	}

	/********
	 * Link *
	 ********/

	&.link {
		padding: 0;
		height: unset;
		min-width: unset;
		line-height: unset;

		font-family: var(--cm-font-text);
		font-size: 14px;
		font-weight: 400;

		text-decoration: underline;
		color: var(--cm-color-link);

		&:hover {
			color: var(--cm-color-link-hover);
		}

		&:focus {
			outline: none;
		}

		&:focus-visible {
			box-shadow: 0px 0px 0px 1px var(--cm-color-focus-inner-neutral),
				0px 0px 0px 4px var(--cm-color-focus-outer-neutral);
		}

		&:active {
			color: var(--cm-color-link-active);
		}

		&.disabled {
			opacity: 0.5;
		}

		&.Dark {
			color: var(--cm-color-link-dark);

			&:hover {
				color: var(--cm-color-link-hover-dark);
			}

			&:active {
				color: var(--cm-color-link-active-dark);
			}
		}
	}
}
