:host {
	display: inline-grid;
	user-select: none;
}

div {
	display: grid;
	position: relative;

	transition: all 0.2s linear;

	height: 20px;
	width: 20px;

	cursor: pointer;
	z-index: 1;

	.disabled {
		pointer-events: none;
		cursor: default;

		opacity: 0.5;
	}

	&::before {
		content: '';
		position: absolute;
		top: -6px;
		left: -6px;

		height: 32px;
		width: 32px;

		border-radius: 100%;

		background-color: rgba(var(--cm-color-ui-light5-rgb), 0);

		transition: all 0.2s linear;

		z-index: -1;
	}

	&:focus {
		outline: none;
	}

	&:hover {
		&::before {
			background-color: rgba(var(--cm-color-ui-light5-rgb), 0.5);
		}
	}

	&:focus-visible {
		&::before {
			background-color: rgba(var(--cm-color-ui-light5-rgb), 0.5);

			box-shadow: 0px 0px 0px 1px var(--cm-color-focus-inner-neutral2),
				0px 0px 0px 4px var(--cm-color-focus-outer-neutral);
		}
	}

	&:active {
		&::before {
			background-color: rgba(var(--cm-color-ui-light5-rgb), 1);
		}
	}
}
