:host {
	display: inline-block;
	position: relative;
	user-select: none;

	transition: all 0.2s linear;

	height: 20px;
	width: 20px;

	cursor: pointer;
	z-index: 1;
}

:host(.disabled) {
	pointer-events: none;
	cursor: default;
}

:host(:focus) {
	outline: none;
}

div {
	display: inline-block;
	user-select: none;
	background-position: center center;
	background-repeat: no-repeat;

	height: 20px;
	width: 20px;
}

:host::before {
	content: '';
	position: absolute;
	top: -6px;
	left: -6px;

	height: 32px;
	width: 32px;

	border-radius: 100%;

	background-color: rgba(var(--cm-color-ui-light5-rgb), 0);

	transition: all 0.2s linear;

	z-index: -1;
}

:host(:hover)::before {
	background-color: rgba(var(--cm-color-ui-light5-rgb), 0.5);
}

:host(:not(.clicked):focus)::before {
	background-color: rgba(var(--cm-color-ui-light5-rgb), 0.5);

	box-shadow: 0px 0px 0px 1px var(--cm-color-focus-inner-neutral2),
		0px 0px 0px 4px var(--cm-color-focus-outer-neutral);
}

:host(:active)::before {
	background-color: rgba(var(--cm-color-ui-light5-rgb), 1);
}

:host(.disabled) {
	opacity: 0.5;
}

:host(.contextMenu) div {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='20' height='20'%3E%3Cdefs%3E%3Cpath id='a' d='M2 12.5c.82842712 0 1.5.6715729 1.5 1.5s-.67157288 1.5-1.5 1.5S.5 14.8284271.5 14s.67157288-1.5 1.5-1.5zm0-6c.82842712 0 1.5.67157288 1.5 1.5S2.82842712 9.5 2 9.5.5 8.82842712.5 8 1.17157288 6.5 2 6.5zm0-6c.82842712 0 1.5.67157288 1.5 1.5S2.82842712 3.5 2 3.5.5 2.82842712.5 2 1.17157288.5 2 .5z'/%3E%3C/defs%3E%3Cg fill='none' fill-rule='evenodd' transform='translate(8 2)'%3E%3Cmask id='b' fill='%23fff'%3E%3Cuse xlink:href='%23a'/%3E%3C/mask%3E%3Cuse fill='%23000' xlink:href='%23a'/%3E%3Cg mask='url(%23b)'%3E%3Cpath fill='%231C1F23' d='M-8-2h20v20H-8z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

:host(.close) div {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='12' height='12'%3E%3Cdefs%3E%3Cpath id='a' d='M11 3v6h6v2h-6v6H9v-6H3V9h6V3h2z'/%3E%3C/defs%3E%3Cuse fill='%23000' fill-rule='evenodd' transform='rotate(45 12.82842712 3.17157288)' xlink:href='%23a'/%3E%3C/svg%3E");
}

:host(.closeLarge) div {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='14' height='14'%3E%3Cdefs%3E%3Cpath id='a' d='M12.6666667 4L12.666 11.333l7.334.0003333v1.3333334L12.666 12.666 12.6666667 20h-1.3333334L11.333 12.666 4 12.6666667v-1.3333334L11.333 11.333 11.3333333 4h1.3333334z'/%3E%3C/defs%3E%3Cuse fill='%23000' fill-rule='evenodd' transform='rotate(45 15.5355339 3.4644661)' xlink:href='%23a'/%3E%3C/svg%3E");
}

:host(.search) div {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='20' height='20'%3E%3Cdefs%3E%3Cpath id='a' d='M6.6008622 0c3.6455555 0 6.6008622 2.91053515 6.6008622 6.5008622 0 1.44371288-.4778551 2.77750755-1.2862933 3.8563433L16 14.3835568 14.3601272 16l-4.1284855-4.0691809c-1.04160891.6769012-2.28947413 1.0709053-3.6307795 1.0709053C2.95530667 13.0017244 0 10.0911892 0 6.5008622 0 2.91053515 2.95530667 0 6.6008622 0zm0 2C4.05987617 2 2 4.01510464 2 6.5008622c0 2.48575755 2.05987617 4.5008622 4.6008622 4.5008622 2.54098602 0 4.6008622-2.01510465 4.6008622-4.5008622C11.2017244 4.01510464 9.14184822 2 6.6008622 2z'/%3E%3C/defs%3E%3Cg fill='none' fill-rule='evenodd' transform='translate(2 2)'%3E%3Cmask id='b' fill='%23fff'%3E%3Cuse xlink:href='%23a'/%3E%3C/mask%3E%3Cuse fill='%23000' xlink:href='%23a'/%3E%3Cg mask='url(%23b)'%3E%3Cpath fill='%231C1F23' d='M-2-2h20v20H-2z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

:host(.help) div {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='20' height='20'%3E%3Cdefs%3E%3Cpath id='a' d='M10 0c5.5228475 0 10 4.4771525 10 10s-4.4771525 10-10 10S0 15.5228475 0 10 4.4771525 0 10 0zm.9914286 13.9890867H8.99297424v1.9984543h1.99845436v-1.9984543zm-.99925061-9.99222487c-2.2082904 0-3.99686183 1.78861826-3.99686183 3.99686182h1.99845433c0-1.09915691.89929743-1.99845433 1.99845433-1.99845433 1.09915688 0 1.99840748.89934426 1.99840748 1.99850117 0 1.99845433-2.99765806 1.74861827-2.99765806 4.99611241h1.99845436c0-2.2482436 2.9976581-2.4980328 2.9976581-4.99611241 0-2.2082904-1.7886183-3.99690866-3.99690871-3.99690866z'/%3E%3C/defs%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cmask id='b' fill='%23fff'%3E%3Cuse xlink:href='%23a'/%3E%3C/mask%3E%3Cuse fill='%23000' xlink:href='%23a'/%3E%3Cg mask='url(%23b)'%3E%3Cpath fill='%231C1F23' d='M-2-2h24v24H-2z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

:host(.information) div {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='16' height='16'%3E%3Cdefs%3E%3Cpath id='a' d='M8 0c4.418278 0 8 3.581722 8 8s-3.581722 8-8 8-8-3.581722-8-8 3.581722-8 8-8zm.8 6.4H7.2V12h1.6V6.4zm0-2.4H7.2v1.6h1.6V4z'/%3E%3C/defs%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cmask id='b' fill='%23fff'%3E%3Cuse xlink:href='%23a'/%3E%3C/mask%3E%3Cuse fill='%23000' xlink:href='%23a'/%3E%3Cg mask='url(%23b)'%3E%3Cpath fill='%231C1F23' d='M-4-4h24v24H-4z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

:host(.sort) div {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='20' height='20'%3E%3Cdefs%3E%3Cpath id='a' d='M0 12h6v-2H0v2zM0 0v2h16V0H0zm0 7h11V5H0v2z'/%3E%3C/defs%3E%3Cg fill='none' fill-rule='evenodd' transform='translate(2 4)'%3E%3Cmask id='b' fill='%23fff'%3E%3Cuse xlink:href='%23a'/%3E%3C/mask%3E%3Cuse fill='%23000' fill-rule='nonzero' xlink:href='%23a'/%3E%3Cg mask='url(%23b)'%3E%3Cpath fill='%231C1F23' d='M-2-4h20v20H-2z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

:host(.plus) div {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='16' height='16'%3E%3Cdefs%3E%3Cpath id='a' d='M6 0v3.999L10 4v2H6v4H4V6H0V4h4V0h2z'/%3E%3C/defs%3E%3Cg fill='none' fill-rule='evenodd' transform='translate(3 3)'%3E%3Cmask id='b' fill='%23fff'%3E%3Cuse xlink:href='%23a'/%3E%3C/mask%3E%3Cuse fill='%234C5462' xlink:href='%23a'/%3E%3Cg mask='url(%23b)'%3E%3Cpath fill='%231C1F23' d='M-3-3h16v16H-3z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

:host(.minus) div {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='16' height='16'%3E%3Cdefs%3E%3Cpath id='a' d='M0 0h10v2H0z'/%3E%3C/defs%3E%3Cg fill='none' fill-rule='evenodd' transform='translate(3 7)'%3E%3Cmask id='b' fill='%23fff'%3E%3Cuse xlink:href='%23a'/%3E%3C/mask%3E%3Cuse fill='%234C5462' xlink:href='%23a'/%3E%3Cg mask='url(%23b)'%3E%3Cpath fill='%231C1F23' d='M-3-7h16V9H-3z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

:host(.copy) div {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='11' height='15'%3E%3Cpath fill='%2345464E' fill-rule='evenodd' d='M6.76923077 2.53846154l1.69123077 1.692h-.018l.865.874v-.028L11 6.76923077v6.61538463c0 .5522847-.4477153 1-1 1H3.53846154c-.55228475 0-1-.4477153-1-1V3.53846154c0-.55228475.44771525-1 1-1h3.23076923zm-.00076923 1.692l-2.53769231.00030769v8.46153847h5.07692308l-.00023077-5.92384616-2.53823077.00076923-.00076923-2.53876923zM4.23076923 0L5.922 1.692H4.23l-2.53769231.00030769V11.8461538h-.6923077c-.55228474 0-1-.4477152-1-1V1c0-.55228475.44771526-1 1-1h3.23076924z'/%3E%3C/svg%3E");
}

:host(.show) div {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='15' height='11'%3E%3Cg fill='%2345464E' fill-rule='nonzero'%3E%3Cpath d='M7.0467033 3.37712288c-1.0230179 0-1.85439561.80618444-1.85439561 1.7982018 0 .99201735.83137771 1.79820179 1.85439561 1.79820179 1.0230179 0 1.8543956-.80618444 1.8543956-1.79820179 0-.99201736-.83140668-1.7982018-1.8543956-1.7982018z'/%3E%3Cpath d='M7.0467033.5C3.84365088.5 1.10826268 2.43868182 0 5.17532468c1.10826268 2.73661363 3.84365088 4.67532467 7.0467033 4.67532467 3.2062354 0 5.9384406-1.93871104 7.0467033-4.67532467C12.9851439 2.43868182 10.2529387.5 7.0467033.5zm0 7.79218831c-1.76807941 0-3.20305242-1.39637337-3.20305242-3.11689286 0-1.72051948 1.43497301-3.11686363 3.20305242-3.11686363 1.7680794 0 3.2030524 1.39637337 3.2030524 3.11689286 0 1.72051948-1.434973 3.11686363-3.2030524 3.11686363z'/%3E%3C/g%3E%3C/svg%3E");
}

:host(.hide) div {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='15' height='13'%3E%3Cg fill='%2345464E' fill-rule='evenodd'%3E%3Cpath fill-rule='nonzero' d='M7.0467033 4.79591837c-1.0230179 0-1.85439561.82345982-1.85439561 1.83673469s.83137771 1.8367347 1.85439561 1.8367347c1.0230179 0 1.8543956-.82345983 1.8543956-1.8367347s-.83140668-1.83673469-1.8543956-1.83673469z'/%3E%3Cpath fill-rule='nonzero' d='M7.0467033 1.85714286c-3.20305242 0-5.93844062 1.980225-7.0467033 4.7755102 1.10826268 2.79525536 3.84365088 4.77551024 7.0467033 4.77551024 3.2062354 0 5.9384406-1.98025488 7.0467033-4.77551024-1.1082627-2.7952852-3.8404679-4.7755102-7.0467033-4.7755102zm0 7.95916377c-1.76807941 0-3.20305242-1.42629566-3.20305242-3.18368342 0-1.75738775 1.43497301-3.18365357 3.20305242-3.18365357 1.7680794 0 3.2030524 1.42629567 3.2030524 3.18368342 0 1.75738776-1.434973 3.18365357-3.2030524 3.18365357z'/%3E%3Cpath d='M1.25919914 10.43959493l9.2807765-9.19238815c.3671382-.36364166.95868704-.36364167 1.32582521 0 .36262972.35917606.36542943.94431526.00625331 1.30694498a.92378857.92378857 0 01-.0062533.0062533l-9.2807765 9.19238817c-.3671382.36364164-.95868703.36364164-1.32582522 0-.3626297-.35917608-.3654294-.94431528-.00625332-1.30694498a.92379638.92379638 0 01.00625332-.00625332z'/%3E%3C/g%3E%3C/svg%3E");
}

:host(.edit) div {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='13' height='14'%3E%3Cdefs%3E%3Cpath id='a' d='M1 10l1.99792969 2.0035156L.0046875 13.0042773 1 10zm9.8-10L13 2.20221356 4.2 11 2 8.79832288 10.8 0z'/%3E%3C/defs%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cmask id='b' fill='%23fff'%3E%3Cuse xlink:href='%23a'/%3E%3C/mask%3E%3Cuse fill='%23000' xlink:href='%23a'/%3E%3Cg mask='url(%23b)'%3E%3Cpath fill='%231C1F23' d='M-2-1h16v16H-2z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

:host(.delete) div {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='11' height='14'%3E%3Cdefs%3E%3Cpath id='a' d='M11 2v1h-1v9c0 1.1045695-.8954305 2-2 2H3c-1.1045695 0-2-.8954305-2-2V3H0V2c0-.55228475.44771525-1 1-1h2c0-.55228475.44771525-1 1-1h3c.55228475 0 1 .44771525 1 1h2c.5522847 0 1 .44771525 1 1zM3 3v8c0 .5522847.44771525 1 1 1h3c.55228475 0 1-.4477153 1-1V3H3zm2 8h1-1zM4 4h1v7H4V4zm2 0h1v7H6V4z'/%3E%3C/defs%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cmask id='b' fill='%23fff'%3E%3Cuse xlink:href='%23a'/%3E%3C/mask%3E%3Cuse fill='%23000' xlink:href='%23a'/%3E%3Cg mask='url(%23b)'%3E%3Cpath fill='%231C1F23' d='M-2-1h16v16H-2z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

:host(.up) div {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='10' height='7'%3E%3Cdefs%3E%3Cpath id='a' d='M11.4997467 6v7H9.49974671V8h-5V6h6.99999999z'/%3E%3C/defs%3E%3Cuse fill='%23000' fill-rule='evenodd' transform='rotate(-45 1.67131988 11.12132034)' xlink:href='%23a'/%3E%3C/svg%3E");
}

:host(.down) div {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='10' height='7'%3E%3Cdefs%3E%3Cpath id='a' d='M11.4997467 4v7H9.49974671V6h-5V4h6.99999999z'/%3E%3C/defs%3E%3Cuse fill='%23000' fill-rule='evenodd' transform='rotate(135 7.74238769 3.87867966)' xlink:href='%23a'/%3E%3C/svg%3E");
}

:host(.left) div {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='7' height='10'%3E%3Cdefs%3E%3Cpath id='a' d='M8.44974747 1.44974747v7h-2v-5h-5v-2h7z'/%3E%3C/defs%3E%3Cuse fill='%23000' fill-rule='evenodd' transform='scale(-1 1) rotate(45 0 -6.99999934)' xlink:href='%23a'/%3E%3C/svg%3E");
}

:host(.right) div {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='7' height='10'%3E%3Cdefs%3E%3Cpath id='a' d='M8.44974747 1.44974747v7h-2v-5h-5v-2h7z'/%3E%3C/defs%3E%3Cuse fill='%23000' fill-rule='evenodd' transform='rotate(45 3.449747 1.32842666)' xlink:href='%23a'/%3E%3C/svg%3E");
}
