:host {
	display: inline-grid;
	position: relative;
	user-select: none;

	transition: all 0.2s linear;

	height: 20px;
	width: 20px;

	cursor: pointer;
	z-index: 1;
}

:host(.disabled) {
	pointer-events: none;
	cursor: default;
}

:host(:focus) {
	outline: none;
}

:host::before {
	content: '';
	position: absolute;
	top: -6px;
	left: -6px;

	height: 32px;
	width: 32px;

	border-radius: 100%;

	background-color: rgba(var(--cm-color-ui-light5-rgb), 0);

	transition: all 0.2s linear;

	z-index: -1;
}

:host(:hover)::before {
	background-color: rgba(var(--cm-color-ui-light5-rgb), 0.5);
}

:host(:not(.clicked):focus)::before {
	background-color: rgba(var(--cm-color-ui-light5-rgb), 0.5);

	box-shadow: 0px 0px 0px 1px var(--cm-color-focus-inner-neutral2),
		0px 0px 0px 4px var(--cm-color-focus-outer-neutral);
}

:host(:active)::before {
	background-color: rgba(var(--cm-color-ui-light5-rgb), 1);
}

:host(.disabled) {
	opacity: 0.5;
}
