:host {
	display: inline-block;
}

.container {
	display: grid;
	grid-auto-flow: column;
	grid-auto-columns: max-content 1fr;
	grid-auto-rows: max-content max-content;
	grid-template-areas:
		'checkbox label'
		'.        helperText';
	gap: 0px 8px;

	&:focus {
		outline: none;
	}

	&:focus-visible {
		.checkbox {
			border-color: var(--cm-color-blue-base);
			box-shadow: 0px 0px 0px 1px var(--cm-color-focus-outer-neutral);
		}
	}

	&:not(.disabled):hover {
		.checkbox {
			border-color: var(--cm-color-blue-base);
		}
	}
}

.checkbox {
	grid-area: checkbox;

	position: relative;
	display: inline-block;
	height: 18px;
	width: 18px;

	background-color: var(--cm-color-ui-light4);
	border: 1px solid var(--cm-color-ui-light3);
	border-radius: 3px;

	vertical-align: bottom;
	transition: all 0.2s linear;

	&::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;

		background-image: url("data:image/svg+xml,%3Csvg width='14' height='12' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.743 11.314L0 6.57l1.897-1.897 2.846 2.846L12.103.16 14 2.057z' fill='%23FFFFFF' fill-rule='nonzero'/%3E%3C/svg%3E");
		background-repeat: no-repeat;
		background-position: center center;

		opacity: 0;
		transition: all 0.2s linear;
	}

	&::after {
		content: '';

		position: absolute;
		top: 50%;
		left: 50%;

		transform: translate(-50%, -50%);

		width: 10px;
		height: 3px;
		background: #ffffff;

		opacity: 0;
		transition: all 0.2s linear;
	}

	&.indeterminate {
		background-color: var(--cm-color-blue-base);
		border-color: var(--cm-color-blue-base);

		&::after {
			opacity: 1;
		}
	}

	&.checked {
		background-color: var(--cm-color-blue-base);
		border-color: var(--cm-color-blue-base);

		&:not(.indeterminate) {
			&::before {
				opacity: 1;
			}
		}
	}

	&.disabled {
		&.indeterminate::after {
			opacity: 0.5;
		}

		&.checked:not(.indeterminate)::before {
			opacity: 0.5;
		}

		&:not(.checked, .indeterminate) {
			background: var(--cm-color-button-light4);
			border-color: var(--cm-color-ui-light5);
		}
	}
}

label {
	grid-area: label;

	display: inline-block;

	user-select: none;

	font-family: var(--cm-font-text);
	font-size: 14px;

	min-height: 20px;
	line-height: 20px;

	&:empty {
		display: none;
	}
}

cm-text {
	grid-area: helperText;
	user-select: none;
}
