:host {
	display: inline-block;
}

.container {
	display: grid;
	grid-auto-flow: column;
	grid-auto-columns: max-content 1fr;
	grid-auto-rows: max-content max-content;
	grid-template-areas:
		'checkbox label'
		'.        helperText';
	gap: 0px 8px;

	&:focus {
		outline: none;
	}

	&:focus-visible {
		.checkbox {
			border-color: var(--cm-color-blue-base);
			box-shadow: 0px 0px 0px 1px var(--cm-color-focus-outer-neutral);
		}
	}

	&:not(.disabled):hover {
		.checkbox {
			border-color: var(--cm-color-blue-base);
		}
	}
}

.checkbox {
	grid-area: checkbox;

	position: relative;
	display: inline-block;
	height: 14px;
	width: 14px;

	background-color: var(--cm-color-ui-light4);
	border: 1px solid var(--cm-color-ui-light3);
	border-radius: 3px;

	vertical-align: bottom;
	transition: all 0.2s linear;

	&::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;

		background-image: url("data:image/svg+xml,%3Csvg width='14' height='11' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cdefs%3E%3Cpath id='a' d='M4.15 9.9L0 5.748l1.66-1.66 2.49 2.49L10.59.14 12.25 1.8z'/%3E%3C/defs%3E%3Cg transform='translate(.875 .625)' fill='none' fill-rule='evenodd'%3E%3Cmask id='b' fill='%23fff'%3E%3Cuse xlink:href='%23a'/%3E%3C/mask%3E%3Cuse fill='%23000' xlink:href='%23a'/%3E%3Cg mask='url(%23b)'%3E%3Cpath d='M-.875-2.625h14v14h-14z' fill='%23FDFDFE'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
		background-repeat: no-repeat;
		background-position: center center;

		opacity: 0;
		transition: all 0.2s linear;
	}

	&::after {
		content: '';

		position: absolute;
		top: 50%;
		left: 50%;

		transform: translate(-50%, -50%);

		width: 10px;
		height: 3px;
		background: #ffffff;

		opacity: 0;
		transition: all 0.2s linear;
	}

	&.indeterminate {
		background-color: var(--cm-color-blue-base);
		border-color: var(--cm-color-blue-base);

		&::after {
			opacity: 1;
		}
	}

	&.checked {
		background-color: var(--cm-color-blue-base);
		border-color: var(--cm-color-blue-base);

		&:not(.indeterminate) {
			&::before {
				opacity: 1;
			}
		}
	}

	&.disabled {
		&.indeterminate::after {
			opacity: 0.5;
		}

		&.checked:not(.indeterminate)::before {
			opacity: 0.5;
		}

		&:not(.checked, .indeterminate) {
			background: var(--cm-color-button-light4);
			border-color: var(--cm-color-ui-light5);
		}
	}
}

label {
	grid-area: label;

	display: inline-block;

	user-select: none;

	font-family: var(--cm-font-text);
	font-size: 14px;

	min-height: 16px;
	line-height: 16px;

	&:empty {
		display: none;
	}
}

cm-text {
	grid-area: helperText;
	user-select: none;
}
