:host {
  display: inline-block;
}

.container:focus {
  outline: none;
}
.container:focus-visible .toggle {
  box-shadow: 0px 0px 0px 1px var(--cm-color-focus-inner-neutral2), 0px 0px 0px 4px var(--cm-color-focus-outer-neutral);
}

.toggle {
  position: relative;
  display: inline-block;
  height: 18px;
  width: 30px;
  background: var(--cm-color-ui-light3);
  border-radius: 9px;
  vertical-align: bottom;
  transition: all 0.2s linear;
}
.toggle::before {
  content: "";
  position: absolute;
  top: 3px;
  left: 3px;
  height: 12px;
  width: 12px;
  border-radius: 12px;
  background: white;
  transition: all 0.2s linear;
}
.toggle.checked {
  background: var(--cm-color-button-blue4);
}
.toggle.checked::before {
  left: 15px;
}
.toggle.checked.disabled {
  background: var(--cm-color-blue-base);
}
.toggle:not(.checked).disabled {
  background: var(--cm-color-ui-light5);
}

label {
  display: inline-block;
  padding-left: 8px;
  user-select: none;
  font-family: var(--cm-font-text);
  font-size: 14px;
  height: 20px;
  line-height: 20px;
}
label:empty {
  display: none;
}