.container {
	display: grid;
	height: 100%;
	position: relative;
}

.valueLabelContainer {
	font-family: var(--cm-font-text);

	box-sizing: border-box;

	display: none;

	overflow: auto;

	* {
		box-sizing: border-box;
	}

	&:focus {
		outline: none;
	}

	&.hidden {
		opacity: 0;
	}

	&.isOpen {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: max-content max-content;

		&.down {
			align-self: flex-start;
			grid-template-areas:
				'label'
				'flyout';

			border-radius: 3px 3px 5px 5px;
		}

		&.up {
			align-self: flex-end;
			grid-template-areas:
				'flyout'
				'label';
			border-radius: 5px 5px 3px 3px;
		}

		min-height: 30px;
		max-height: 100%;

		overflow-y: auto;

		border: solid 1px var(--cm-color-ui-light3);
		background-color: var(--cm-color-ui-light4);

		box-shadow: 0 0 0 2px var(--cm-color-focus-outer-neutral);
		border: solid 1px var(--cm-color-blue-base);
	}

	&.down {
		.labelContainer {
			border-bottom: 1px solid var(--cm-color-ui-light5);
			position: sticky;
			top: 0;
		}
	}

	&.up {
		.labelContainer {
			border-top: 1px solid var(--cm-color-ui-light5);
			position: sticky;
			bottom: 0;
		}
	}

	.labelContainer {
		grid-area: 'label';

		display: grid;
		grid-template-areas: 'prefix valueLabel suffix';
		grid-template-columns: max-content 1fr max-content;
		align-items: center;

		min-height: 30px;
		background: white;
		position: relative;
		z-index: 1;

		.prefix {
			grid-area: prefix;
			display: grid;
			grid-auto-flow: column;
			height: 30px;
			align-items: center;

			border-bottom-left-radius: 3px;
			border-top-left-radius: 3px;

			&.empty {
				width: 10px;
			}

			&.icon {
				width: 30px;
				justify-items: center;
			}
		}

		.valueLabel {
			grid-area: valueLabel;
			font-size: 14px;
			color: var(--cm-color-ui-dark4);

			text-overflow: ellipsis;
			overflow: hidden;
			white-space: nowrap;

			&.placeholder {
				font-style: italic;
				color: var(--cm-color-ui-light6);
			}
		}

		.suffix {
			grid-area: suffix;
			display: grid;
			grid-auto-flow: column;
			height: 30px;
			align-items: center;

			border-bottom-right-radius: 3px;
			border-top-right-radius: 3px;

			&.icon {
				width: 30px;
				justify-items: center;
			}
		}
	}

	.flyout {
		grid-area: flyout;
		display: grid;
		overflow: auto;
		position: relative;
		padding: 5px;

		.option {
			position: relative;
			display: grid;
			grid-auto-flow: column;
			align-items: center;
			justify-items: flex-start;
			justify-content: flex-start;
			min-height: 36px;
			padding: 10px 5px;
			cursor: pointer;
			border-radius: 3px;

			transition: all linear 150ms;

			&:hover,
			&.hover {
				background: var(--cm-color-focus-inner-neutral);
			}

			&.isSelected {
				padding-left: 14px;
				cursor: default;

				.label {
					font-weight: 500;

					&::after {
						content: '';
						position: absolute;
						left: -8px;
						top: 1px;
						bottom: 1px;
						width: 3px;
						border-radius: 3px;
						background-color: var(--cm-color-blue-base);
					}
				}
			}

			&.hasDescription {
				gap: 5px;
				grid-auto-flow: row;

				.label {
					font-size: 14px;
					font-weight: 500;
					color: var(--cm-color-ui-dark4);
				}

				.description {
					font-size: 13px;
					color: var(--cm-color-ui-light6);
				}
			}

			.label {
				position: relative;
				font-size: 14px;
				color: var(--cm-color-ui-dark4);
			}
		}
	}
}
