:host {
	display: block;
	box-sizing: border-box;
}

.container {
	display: grid;
	box-sizing: border-box;
	position: relative;

	grid-auto-flow: column;
	grid-template-columns: 24px 224px;

	gap: 12px;

	background-color: var(--cm-color-ui-light1);

	padding: 16px;
	width: 320px;
	border-radius: 3px;

	box-shadow: 0 2px 5px 0 rgba(var(--cm-color-black-base-rgb), 0.5);
}

cm-icon-button {
	position: absolute;
	right: 6px;
	top: 6px;
}

.contentContainer {
	display: grid;
	gap: 5px;
	padding-top: 1px;

	font-family: var(--cm-font-text);
	color: rgba(var(--cm-color-ui-dark4-rgb), 0.9);
}

.headline {
	font-size: 15px;
	font-weight: 700;
}

.headlineWithoutDescription {
	font-size: 15px;
	font-weight: 500;
}

.description {
	font-size: 13px;
}

cm-button {
	display: inline-block;
	font-size: 13px;
}

.icon {
	width: 24px;
	height: 24px;
}

.info {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='24' height='24'%3E%3Cdefs%3E%3Cfilter id='a' width='105.3%25' height='131.5%25' x='-2.7%25' y='-12%25' filterUnits='objectBoundingBox'%3E%3CfeOffset dy='2' in='SourceAlpha' result='shadowOffsetOuter1'/%3E%3CfeGaussianBlur in='shadowOffsetOuter1' result='shadowBlurOuter1' stdDeviation='2.5'/%3E%3CfeColorMatrix in='shadowBlurOuter1' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.5 0'/%3E%3C/filter%3E%3Crect id='b' width='320' height='54' x='0' y='0' rx='3'/%3E%3C/defs%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cpath fill='%23FFF' d='M-73-437h1597V741H-73z'/%3E%3Cg transform='translate(-15 -15)' fill-rule='nonzero'%3E%3Cuse fill='%23000' filter='url(%23a)' xlink:href='%23b'/%3E%3Cuse fill='%23F2F3F5' xlink:href='%23b'/%3E%3C/g%3E%3Cg%3E%3Ccircle cx='12' cy='12' r='11' fill='%2362626E'/%3E%3Cpath fill='%23FFF' d='M13.77 10.9v5.5h.73v1.1h-5v-1.1h.808V12h-.77v-1.1h4.231zm-1.8-4.4c.954 0 1.73.74 1.73 1.65 0 .91-.776 1.65-1.73 1.65-.955 0-1.732-.74-1.732-1.65 0-.91.777-1.65 1.731-1.65z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.error {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='24' height='24'%3E%3Cdefs%3E%3Cfilter id='a' width='105.3%25' height='131.5%25' x='-2.7%25' y='-12%25' filterUnits='objectBoundingBox'%3E%3CfeOffset dy='2' in='SourceAlpha' result='shadowOffsetOuter1'/%3E%3CfeGaussianBlur in='shadowOffsetOuter1' result='shadowBlurOuter1' stdDeviation='2.5'/%3E%3CfeColorMatrix in='shadowBlurOuter1' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.5 0'/%3E%3C/filter%3E%3Crect id='b' width='320' height='54' x='0' y='0' rx='3'/%3E%3C/defs%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cpath fill='%23FFF' d='M-73-192h1597V986H-73z'/%3E%3Cg transform='translate(-15 -15)' fill-rule='nonzero'%3E%3Cuse fill='%23000' filter='url(%23a)' xlink:href='%23b'/%3E%3Cuse fill='%23F2F3F5' xlink:href='%23b'/%3E%3C/g%3E%3Cg%3E%3Ccircle cx='12' cy='12' r='11' fill='%23FF3D3D'/%3E%3Cpath fill='%23FFF' d='M17.657 7.757L13.414 12l4.243 4.243-1.414 1.414L12 13.414l-4.243 4.243-1.414-1.414L10.586 12 6.343 7.757l1.414-1.414L12 10.586l4.243-4.243 1.414 1.414z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.success {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='24' height='24'%3E%3Cdefs%3E%3Cfilter id='a' width='105.3%25' height='131.5%25' x='-2.7%25' y='-12%25' filterUnits='objectBoundingBox'%3E%3CfeOffset dy='2' in='SourceAlpha' result='shadowOffsetOuter1'/%3E%3CfeGaussianBlur in='shadowOffsetOuter1' result='shadowBlurOuter1' stdDeviation='2.5'/%3E%3CfeColorMatrix in='shadowBlurOuter1' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.5 0'/%3E%3C/filter%3E%3Crect id='b' width='320' height='54' x='0' y='0' rx='3'/%3E%3C/defs%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cpath fill='%23FFF' d='M-73-315h1597V863H-73z'/%3E%3Cg transform='translate(-15 -15)' fill-rule='nonzero'%3E%3Cuse fill='%23000' filter='url(%23a)' xlink:href='%23b'/%3E%3Cuse fill='%23F2F3F5' xlink:href='%23b'/%3E%3C/g%3E%3Cg%3E%3Ccircle cx='12' cy='12' r='11' fill='%2310D070'/%3E%3Cpath fill='%23FFF' d='M9.743 18.314L5 13.57l1.897-1.897 2.846 2.846 7.36-7.359L19 9.057z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}
