:host {
	display: inline-block;
}

.toggle {
	position: relative;
	display: inline-block;
	height: 18px;
	width: 30px;

	background: var(--cm-color-silver-darken-80);

	border-radius: 9px;

	vertical-align: bottom;
	transition: all 0.2s linear;

	&::before {
		content: '';
		position: absolute;
		top: 3px;
		left: 3px;

		height: 12px;
		width: 12px;
		border-radius: 12px;

		background: white;

		transition: all 0.2s linear;
	}

	&.checked {
		background: var(--cm-color-blue-darken-55);

		&::before {
			left: 15px;
		}

		&.disabled {
			background: var(--cm-color-blue-lighten-82);
		}
	}

	&:not(.checked) {
		&.disabled {
			background: var(--cm-color-silver-darken-94);
		}
	}

	&:focus {
		outline: none;
	}

	&:not(.clicked):focus {
		box-shadow: 0px 0px 0px 1px var(--cm-color-blue-darken-55),
			0px 0px 0px 4px var(--cm-color-blue-lighten-82);
	}
}

label {
	display: inline-block;
	padding-left: 8px;

	font-family: var(--cm-font-text);
	font-size: 14px;

	height: 20px;
	line-height: 20px;
}
