:host {
	display: inline;
}

a {
	font-family: var(--cm-font-text);
	font-size: 14px;
	font-weight: 400;

	&.normal {
		text-decoration: underline;
		color: var(--cm-color-blue-base-65);

		&:hover {
			color: var(--cm-color-blue-darken-48);
		}
	}

	&.subtle {
		text-decoration: none;
		color: var(--cm-color-grey-darken-23);

		&:hover {
			text-decoration: underline;
			color: var(--cm-color-grey-darken-23);
		}
	}
}
