:host {
	display: inline;
}

a {
	font-family: var(--cm-font-text);
	font-size: 14px;
	font-weight: 400;

	text-decoration: underline;
	color: var(--cm-color-link);

	&:hover {
		color: var(--cm-color-link-hover);
	}

	&:active {
		color: var(--cm-color-link-active);
	}
}
